// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: goldenrod;
// $body-color: white;
$primary: rgb(133, 211, 231);
// $font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}

header {
  padding: 20px;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
